/* /////////////////////////////////////// section //////////////////////////////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
.portfolio {
  width: 100vw;
  background-color: #f8f9fa;
  padding-bottom: 3rem;
}
.portfolioContainer {
  margin-left: 16vw;
}
.protHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.protHeading h1 {
  font-size: 7.6vw;
  font-weight: 600;
  opacity: 0.1;
}
.protHeading p {
  position: absolute;
  font-size: 2.3rem;
  font-weight: 600;
  color: #343a40;
}
.p-line {
  width: 4.5rem;
  height: 3px;
  background-color: #20c997;
  position: absolute;
  bottom: 0.1rem;
  right: 3rem;
}

#myBtnContainer {
  text-align: center;
  margin-top: 3.6rem;
}
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: #666;
  color: white;
}

.btn.active {
  background-color: #20c997;
  color: white;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
  justify-content: center;
  padding: 0 0.4rem;
  margin-top: 3rem;
}

.column {
  display: none;
  flex: 1 0 150px;
  flex: 33.33%;
  max-width: 30.33%;
}
.content img {
  vertical-align: middle;
  width: 100%;
  box-shadow: 8px 8px 6px -5px rgb(0, 0, 0, 0.2);
}

/* /////////////////////////////////////////////////// */
.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: background-color 400ms ease-in-out, opacity 400ms ease-in-out;
}
.hoverN3 {
  position: relative;
}
.hoverN3 img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.hoverN3:hover img {
  opacity: 0.9;
}
.hoverN3:hover .middle {
  opacity: 0.9;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.18));
  text-align: center;
}

.text {
  /* transition: opacity 400ms ease-in-out; */
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.text-pera {
  padding-bottom: 3.5rem;
}
.text-btn-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-inline: 2rem;
}
.text span,
.live {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-family: "Charm", cursive;
  text-decoration: none;
  color: white;
}
.text span:hover {
  color: #12b886;
  cursor: pointer;
}
.text .live:hover {
  color: #12b886;
  cursor: pointer;
}

/* //////////////////////////////////////////////////////////////////////////////// */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  align-items: center;
  justify-content: center;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 2rem;
  border: 1px solid #888;
  width: 75%;
  margin-top: 0rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}
.projectInfo + p {
  margin-bottom: 1rem;
}
.close:hover,
.close:focus {
  color: #12b886;
  text-decoration: none;
  cursor: pointer;
}
.proHeading {
  text-align: center;
}
.proContainer {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 3rem;
}
.img {
  width: 100%;
}
.img img {
  width: 100%;
  display: block;
  text-align: center;
  /* height: 40vh; */
  object-fit: cover;
}

.deatils {
  line-height: 1.7;
  width: 55%;
}

.deatils:nth-child(3) {
  padding-top: 1.6rem;
}
.showPro {
  display: flex;
}

/* ///////////////////////////////////////// Media Queries ////////////////////////////////////////////////////////   */
@media only screen and (max-width: 1360px) {
  .sidebar {
    width: 17vw;
  }
  .column {
    /* display: none; */
    flex: 1 0 250px;
    flex: 33.33%;
    max-width: 30.33%;
  }
  .portfolioContainer {
    margin-left: 18vw;
  }
  .row {
    padding: 0 0;
  }
  .modal-content {
    width: 88%;
  }
}

@media only screen and (max-width: 1060px) {
  .sidebar {
    display: none;
  }
  .portfolioContainer {
    margin: 0 2vw;
  }
  .portfolio {
    margin-left: 0vw;
  }
  .column {
    max-width: 100%;
  }
  .portfolio {
    margin-top: 1.3rem;
  }

  .img img {
    width: 100%;
    margin-bottom: 2rem;
  }
  .modal-content {
    width: 60%;
  }
  .deatils {
    width: 100%;
  }
  .proContainer {
    flex-direction: column;
    gap: 0.2rem;
  }
  .modal {
    align-items: flex-start;
  }
  /* ////////////////////////////////////////////////////////////////// */
  /* Card Style changed */
  .middle {
    opacity: 1;
    position: relative;
    top: 0%;
    left: 0;
    z-index: 0;
    transform: translate(0, 0);
    height: max-content;
    background: linear-gradient(to left, #8fd4f1, #88efc4);
  }
  .hoverN3 img {
    opacity: 1;
    display: block;
  }
  .hoverN3:hover img {
    opacity: 1;
  }
  .hoverN3:hover .middle {
    opacity: 1;
    background: linear-gradient(to left, #8fd4f1, #88efc4);
    text-align: center;
  }
  .text {
    /* transition: opacity 400ms ease-in-out; */
    color: #111;
    font-size: 1.4rem;
    padding: 2rem 0rem 1.4rem;
  }

  .text-pera {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 0.8rem;
    color: #4943ff;
  }
  .text-btn-flex {
    padding-bottom: 0rem;
  }
  .text span,
  .live {
    color: #111;
  }
  .text span:hover {
    color: #4943ff;
  }
  .text .live:hover {
    color: #4943ff;
  }
}

/* //////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 860px) {
  .protHeading h1 {
    font-size: 11.6vw;
    opacity: 0.1;
  }
  .modal-content {
    width: 65%;
  }
  .modal {
    align-items: center;
  }
}
@media screen and (max-width: 778px) {
  /* .portfolio {
    /* margin: 0 2vw; */
  /* margin-top: 5vh; */
  /* }  */
  .protHeading {
    margin-bottom: 4vh;
  }
  .protHeading h1 {
    font-size: 13vw;
  }
  .protHeading p {
    font-size: 2.2rem;
  }
  .line {
    right: 1.2rem;
  }
  .row {
    margin: 0.9rem;
    margin-top: 3rem;
  }

  .column {
    max-width: 100%;
    flex: 2 0 300px;
  }
  .proContainer {
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .protHeading h1 {
    font-size: 16vw;
  }
  .protHeading {
    margin-top: 1.3rem;
  }
  .btn {
    font-size: 1.02rem;
  }
  .modal-content {
    margin-top: 3rem;
    width: 90%;
    padding: 1.6rem;
  }
  .modal {
    align-items: flex-start;
  }
  .portfolioContainer {
    margin: 0vw;
  }
  .protHeading p {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .img img {
    width: 100%;
    margin-bottom: 1.6rem;
  }
  .p-line {
    left: 2.6rem;
  }

  .deatils {
    font-size: 1.08rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 380px) {
  .modal-content {
    margin-top: 3rem;
  }
}
/* ////////////////////////////////////////////////////////////////// */
/* box-shadow: 0 6px 16px 0 rgb(0 0 0 / 15%); */
/* box-shadow: 0 10px 32px 0 rgb(0 0 0 / 35%); hover */
/* box-shadow: 0 6px 16px 0 rgb(0 0 0 / 35%); hov */
/* box-shadow: 0 6px 16px 0 rgb(207 130 23 / 15%); */

/* ox-shadow: 0 10px 32px 0 rgb(207 130 23 / 35%); */
/* box-shadow: 0 6px 16px 0 rgb(207 130 23 / 35%); */
